* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.app {
  width: 100vw;
  height: 100vh;
}
.app__button {
  max-width: 165px;
  margin: 20px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: #efefef;
  border: none;
  border-radius: 4px;
}
.button_big_primary {
  background: #007bff;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 2rem;
}
.button_big_success {
  background: #28a745;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 2rem;
}
.button_history_back {
  margin: 0 50px 0 0;
}

.header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid black;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.stored-processes {
  padding: 20px;
}
.stored-processes__title {
  margin: 0 0 20px 0;
}

.new-process {
  padding: 20px;
  width: 100%;
}
.new-process__form {
  padding: 20px;
}
.new-process__input {
  margin: 0 0 20px 0;
  font-size: 20px;
}
.new-process__input input,
.new-process__input textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 1em;
}
.new-process__input textarea {
  height: 150px;
  resize: none;
}

.executing-process {
  padding: 20px;
}
